[submodule "figures"]
	path = figures
	url = git@github.com:georgejkaye/figures.git
[submodule "macros"]
	path = macros
	url = git@github.com:georgejkaye/macros.git
[submodule "latex-scripts"]
	path = latex-scripts
	url = git@github.com:georgejkaye/latex-scripts.git
